.main {
  margin-left: 18%;
}

body::-webkit-scrollbar {
  display: none;
}

.scNumber {
  font-family: serif;
  font-weight:bold;
}

.redirect{
  color:black;
  text-decoration:underline;
  text-decoration-color: black;
}

.redirect:hover{
  color:black;
}